<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% extends "base.html" %}
    {% block content %}

        <main style="text-align: center; color: black; margin-left: 25%; width: 50%;">
        <p style="font-size: 40px;">FAQ</p>
        <b class="faq_header">Hur kan ni erbjuda låga priser?</b>
        <br>
        <p class="faq_text">
          Genom att minimera våra kostnader såsom hyra och att göra väldigt stora inköp av delar kan vi hålla en lågkostnadsprofil.
          Vi har dessutom smarta rutiner som gör att personalkostnad per MC blir lägre.
          Dessa saker gör att vi kan erbjuda våra tjänster till mycket bättre priser än våra konkurrenter!
        </p>
        <br><br>
        <b class="faq_header">Får jag en stämpel i serviceboken?</b>
        <br>
        <p class="faq_text">
          Ja! Du får en stämpel i serviceboken som även gäller för nyfordonsgaranti.
          Vi utför samtliga servicar enligt marknadsstandard så du behöver inte besöka din märkesverkstad för att stämpeln ska “gälla”!
        </p>
        <br><br>
        <b class="faq_header">Erbjuder ni garanti?</b>
        <br>
        <p class="faq_text">
          Ja, vi erbjuder garanti på vårt arbete och vill att du som kund ska vara 100% nöjd med våra tjänster. <br>
          Vi är dessutom helförsäkrade hos Trygg Hansa vilket innebär att ditt fordon är i väldigt trygga händer!
        </p>
        <br><br>
        <b class="faq_header">Vad använder ni för verktyg?</b>
        <br>
        <p class="faq_text">
          På våra anläggningar använder vi diagnostiska verktyg från bl.a. TEXA som är marknadsledande inom MC diagnostik.
          Vi utför diagnostiska felsökningar och mycket mer på samtliga MC märken!
          Vi tillhandahåller även ett stort bibliotek med verkstadsmanualer för alla MC modeller och märken.
        </p>
        <br><br>
        <b class="faq_header">Är ni auktoriserade?</b>
        <br>
        <p class="faq_text">
          Marknaden för service av fordon är avreglerad. Det innebär att du kan vända dig till vilken verkstad du vill! Du behöver alltså inte serva din MC hos din återförsäljare för att garantin ska gälla!
          Verkstäderna är uppdelade på auktoriserade fordonsverkstäder och allfordonsverkstäder. En auktoriserad verkstad är en verkstad som är specialiserad på just ditt fordonsmärke medan en allfordonsverkstad är en verkstad som är märkesoberoende och tar sig an flertalet fordonsmärken.
          Om du har fått garanti, exempelvis nyfordonsgaranti, har du rätt att reparera/serva bilen hos vilken verkstad du vill, så länge verkstaden lever upp till kraven på fackmässighet. Detta innebär att arbetet ska utföras i enlighet med de krav på kompetens och kvalitet som gäller i fordonsservicebranschen. <br>
          Mer information hittar du på <a href="https://www.hallakonsument.se/tips-for-olika-kop/kopa-och-hyra-produkter/bil-och-andra-fordon/bilverkstad/" target="_blank">konsumentverkets hemsida</a>
        </p>
        <br><br>
        <b class="faq_header">Hur kan jag betala?</b>
        <br>
        <p class="faq_text">
          Hos oss kan du betala med Swish, Kort och Klarna (faktura, konto, dela upp). <br>
          Vi använder oss av iZettles kassasystem på samtliga anläggningar.
        </p>
        <br><br>
        <b class="faq_header">När ska jag boka min MC service?</b>
        <br>
        <p style="font-size: 15px; margin-left: -2.5%; width: 105%;">
          När du ska boka service: <br><br>
          1. Beställ service i god tid, boka första service när du hämtar ut din nya mc (inte när den gått 100mil). <br><br>
          2. Serva din MC alltid i början på säsongen för att motorn ska hålla fler år. <br><br>
          3. Serva även din mc på hösten så mc:n får stå över vintern med färsk olja som motverkar korrosion. <br><br>
          Service är ingen rolig kostnad, dock är rätt service väldigt viktigt för att dit fordon ska hålla längre, få mycket färre problem och med stämpeln i boken minskar den betydligt mindre i värde.Vi är inriktade på att erbjuda första klass service mot marknadens absolut lägsta priser!
        </p>
        <br><br>
        <b class="faq_header">Utför ni även större reparationer?</b>
        <br>
        <p class="faq_text">
          Ja! Vi utför vanliga felsökningar och reparationer samt motorrenoveringar.
        </p>
        <br><br>
        <b class="faq_header">Erbjuder ni Drop-In?</b>
        <br>
        <p class="faq_text">
          Absolut! Vi erbjuder de flesta tjänster som Drop-In, men för att säkra din plats för service rekommenderar vi att boka en tid. <br>
          Kom förbi och låt oss ta en titt på ditt fordon!
        </p>
              <br><br>
        <b class="faq_header">Har ni fasta priser?</b>
        <br>
        <p class="faq_text">
          Ja, vi erbjuder våra tjänster alltid till ett fast pris. <br>
          Vi tycker att det är A och O att du som kund ska kunna lita på din verkstad, vi jobbar därför alltid med fasta priser, inga dolda avgifter och du ska få ett fast pris på vad det än är du behöver hjälp med!
        </p>
              <br><br>
        <b class="faq_header">Vad har ni för öppettider?</b>
        <br>
        <p class="faq_text">
          Vi har öppet från måndag till fredag mellan kl. 10:00 och 20:00 samt lördagar mellan 10:00 och 16:00, detta för att öka tillgängligheten för dig som kund.
          Du slipper ta ledigt från arbete eller andra förpliktelser.
          Under lågsäsongen (oktober – mars) kan vi ha ändrade öppettider som vi alltid annonserar på hemsidan. Detta för att minska våra kostnader under lågsäsongen så vi kan fortsätta erbjuda låga priser!
        </p>
              <br><br>
        <b class="faq_header">Om-/Avbokning</b>
        <br>
        <p class="faq_text">
          Ombokning alt. avbokning sker senast 48 timmar före bokad tid. <br>
          Vid servicar där vi beställt hem MC specifika delar såsom däckbyten, fuel unit, avgasrör, mm. är bokningen bindande från bokningstillfället. <br>
          Skulle man inte dyka upp vid avsatt tid kan vi ta ut en “no-show” avgift. <br>
          Vår lägsta “no-show” avgift ligger på 995,- inkl. moms. <br>
          Vid service utgår fullt pris. Bokning av vinterförvaring är bindande och kan ej avbokas.
        </p>
                    <br><br>
        <b class="faq_header">Utför ni servicar på samtliga MC/moped märken?</b>
        <br>
        <p class="faq_text">
          Ja, i regel gör vi det. <br>
          Vi utför dock inte servicar / reparationer på mopeder och motorcyklar tillverkade i Kina/Taiwan. Kontakta oss för mer info.
        </p>
                    <br><br>
        <b class="faq_header">Jag vill sälja min MC genom er</b>
        <br>
        <p class="faq_text">
          Självklart kan vi hjälpa till och förmedla din MC i våra kanaler.
          Genom smarta lösningar får du ofta ut lika mycket eller mer än om du skulle sålt privat eller genom en av våra konkurrenter.
          Boka en kostnadsfri tid för MC förmedling i BOKA menyn och välj en tid som passar dig. Vid frågor är du självklart välkommen att kontakta oss!
        </p>
                          <br><br>
        <b class="faq_header">Köpa MC hos Simplic MC</b>
        <br>
        <p class="faq_text">
          Hos oss kan du känna dig trygg i ditt MC köp.
          Vi går igenom samtliga MC vi säljer väldigt noga och säkerställer att rätta till samtliga eventuella fel.
          Vi servar även den MC du valt innan leverans!
        </p>
                          <br><br>
        <b class="faq_header">Samarbeten med Finansbolag & Försäkringsbolag</b>
        <br>
        <p class="faq_text">
          Vi samarbetar med marknadsledande Finans- & Försäkringsbolag för att erbjuda en smidig, enkel och trygg affär när du köper din MC hos oss. Idag arbetar vi med Svea ekonomi, Svedea och Länsförsäkringar!
        </p>
                          <br><br>
        <b class="faq_header">Vad är era företagsuppgifter?</b>
        <br>
        <p class="faq_text">
          SIMPLIC MC är ett varumärke registrerat hos bolagsverket under uppgifter nedan: <br><br>
          Jona Storskrubb <br>
          Organisationsnummer 9809123574 <br>
          Momsnummer SE980912357401 <br>
          Godkänt för F-skatt <br>
        </p>
                          <br><br>
        <b class="faq_header">Varför byter ni till vinter öppettider?</b>
        <br>
        <p class="faq_text">
          För att kunna fortsätta erbjuda marknadens lägsta priser har vi valt att ha öppet 7 dagar i veckan under högsäsongen då efterfrågan är väldigt hög men vill samtidigt spara in på kostnader under vintersäsongen 15 okt – 1a mars. <br>
          Självklart kan vi ta emot din MC utanför ordinarie öppettider men då gäller bokning via telefon.
        </p>

      <br><br>
      <div class="center_div">
            <a href="{% url 'boka' %}"><button class="button_clean_white">Boka</button></a>
            <a href="{% url 'kontakt' %}"><button class="button_clean_white">Kontakta oss</button></a>
      </div>
      <br><br>

    </main>

    {% endblock %}

</body>
</html>